.ui.fluid.vertical.pointing.menu {
	margin-top: 1em;
}

#maingrid {
	padding-top: 5em;
	display: flex;
	padding-right: 1em;
	padding-left: 1em;
}

#secondarymenu {
	margin-top: 6em;
	display: flex;
}

#indexgrid {
	padding-top: 6em;
	display: flex;
}

/* Reservas */

#reservasTitles {
	padding-top: 8em;
	padding-left: 5em;
	padding-right: 1em;
	display: flex;
}

#reservasGrid {
	
	display: flex;
	padding-right: 0em;
	padding-left: 5em;
}

#extra {
	display: none;
}

#colunadireita {
	
}

#colunadinheiro {
	padding-top: 2em;
}
