.ui.fluid.vertical.pointing.menu {
	margin-top: 1em;
}

#maingrid {
	padding-top: 4em;
	display: flex;
	padding-right: 1em;
}

#reservasGrid {
	
	display: flex;
	padding-right: 1em;
	padding-left: 2em;
}

#secondarymenu {
	margin-top: 5em;
	display: flex;
}

#indexgrid {
	padding-top: 5em;
	display: flex;
}

#reservasTitles {
	padding-top: 6em;
	padding-left: 2em;
	display: flex;
}